<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link " href="/admin/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
    <!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
        <li>
          <a href="/admin/banner">
            <i class="bi bi-circle"></i><span>Banner Page</span>
          </a>
        </li>
        <li>
          <a href="/admin/testimonial">
            <i class="bi bi-circle"></i><span>Testimonial Page</span>
          </a>
        </li>
        <li>
          <a href="/admin/event">
            <i class="bi bi-circle"></i><span>Event Page</span>
          </a>
        </li>
        <li>
          <a href="/admin/trainer">
            <i class="bi bi-circle"></i><span>Trainer Page</span>
          </a>
        </li>
        <li>
          <a href="/admin/course">
            <i class="bi bi-circle"></i><span>Course Page</span>
          </a>
        </li>
        <li>
          <a href="/admin/all/democlass/details">
            <i class="bi bi-circle"></i><span>All Demo Class Details Page</span>
          </a>
        </li>
        
      </ul>
    </li>
    <!-- End Components Nav -->



  </ul>

</aside>